main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.3s cubic-bezier(0.24, 0.55, 0.34, 0.99);
    position: absolute;
}
.city-1, .city-2, .city-3, .city-4, .city-5, .city-6, .porsche-body {
    max-width: none;
}
.sun-rays {
    position: absolute;
    z-index: 19;
    width: 700px;
    top: 0;
    right: 0;
}


/* Example layer styles */
.city-1 {
    position: absolute;
    z-index: 1;
    width: 2800px;
    top: 50%;
    left: calc(50% - 100px);
}

.city-2 {
    position: absolute;
    z-index: 2;
    width: 1600px;
    top: calc(50% - 20px);
    left: calc(50% - 100px);
}

.fog {
    position: absolute;
    z-index: 7;
    width: 1800px;
    top: calc(50% - 50px);
    left: 50%;
    opacity: 0.5;
}
.head-icon {
    position: absolute;
    z-index: 10;
    width: 100px;
    top: calc(50% - 100px);
    left: calc(50% - 220px);
}
.text-city {
    position: absolute;
    z-index: 10;
    top: calc(50% - 150px);
    left: calc(50% + 250px);
}

.city-3 {
    position: absolute;
    z-index: 3;
    width: 1600px;
    top: calc(50% - 20px);
    left: calc(50% + 350px);
}

.city-4 {
    position: absolute;
    z-index: 4;
    width: 1600px;
    top: calc(50% - 80px);
    left: calc(50% - 100px);
}

.city-5 {
    position: absolute;
    z-index: 5;
    width: 1600px;
    top: calc(50% - 120px);
    left: calc(50% + 20px);
}

.city-6 {
    position: absolute;
    z-index: 6;
    width: 1600px;
    top: calc(50% - 150px);
    left: calc(50% + 20px);
}

.street {
    position: absolute;
    z-index: 7;
    width: 500%;
    height: 600px;
    top: calc(50% - 120px);
    left: calc(50% - 1000px);
    background-position: center;
    background-repeat: repeat-x;
    animation: road 9s linear infinite;
}

.porsche-body {
    position: absolute;
    z-index: 8;
    width: 400px;
    top: calc(50% + 230px);
    left: calc(50% - 230px);
}

.porsche-left-wheel {
    position: absolute;
    z-index: 8;
    width: 90px;
    top: calc(50% + 297px);
    left: calc(50% - 177px);
    animation: spin 0.005s linear infinite;
    transform-origin: center;
}

.porsche-right-wheel {
    position: absolute;
    z-index: 8;
    width: 90px;
    top: calc(50% + 298px);
    left: calc(50% + 34px);
    animation: spin 0.005s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes road {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@media (max-width: 768px) {
    main {
    height: 100vh;
    overflow: hidden;
    }

    .parallax {
      transform: none; /* or override if needed */
    }
    .head-icon {
        top: calc(50% - 100px);
        left: calc(50% - 220px);
    }

}
